pipeline/adf_pl_copy_EXLAPI.json
{
	"name": "adf_pl_copy_EXLAPI",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSQL_roleUpdate",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "RolesJsonInput",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "dataflow2",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_AggRoles",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "LookupDataFromBlob",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "dataflow2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "RolesJsonOutput",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachStudent",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupDataFromBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupDataFromBlob').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "WebCallAPI",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-25.uksouth.logic.azure.com:443/workflows/40b603ee9a934c529114a24a6619e5c9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ctOc7eea4P2jAcd8GM9D4rln8JzidJxwRJACEDdQrpQ",
								"method": "POST",
								"headers": {
									"Content-Type": "application/xml"
								},
								"body": {
									"value": "<?xml version=\"1.0\" encoding=\"utf-16\"?>\n<soapenv:Envelope xmlns:cam=\"http://campusm.gw.com/campusm\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\">\n\t<soapenv:Header/>\n\t<soapenv:Body>\n\t\t<soapenv:addAppRoleRequest>\n\t\t\t<cam:orgCode>873</cam:orgCode>\n\t\t\t<cam:emailAddresses>\n\t\t\t\t<cam:emailAddress>@{item().MDX_EMAIL_ADDRESS}</cam:emailAddress>\n\t\t\t</cam:emailAddresses>\n\t\t\t<cam:rolesToAdd>@{item().roles[1].approle}</cam:rolesToAdd>\n\t\t\t<cam:rolesToRemove/>\n\t\t\t<cam:applyToAll>FALSE</cam:applyToAll>\n\t\t</soapenv:addAppRoleRequest>\n\t</soapenv:Body>\n</soapenv:Envelope>",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}